$font-family-sans-serif: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-letter-spacing: 0.5em;

$primary: #3e717b;
$btn-border-radius: 0 !default;
$btn-border-radius-sm: 0 !default;
$btn-border-radius-lg: 0 !default;
$border-radius: 0 !default; // Affects other elements too